services:
  cube:
    image: cubejs/cube:latest
    ports:
      - "4000:4000"
    environment:
      - CUBEJS_DB_TYPE=${CUBEJS_DB_TYPE}
      - CUBEJS_DB_HOST=host.docker.internal
      - CUBEJS_DB_PORT=${POSTGRES_PORT}
      - CUBEJS_DB_NAME=${POSTGRES_DB}
      - CUBEJS_DB_USER=${POSTGRES_USER}
      - CUBEJS_DB_PASS=${POSTGRES_PASSWORD}
      - CUBEJS_API_SECRET=${CUBEJS_API_SECRET}
      - CUBEJS_DEV_MODE=${CUBEJS_DEV_MODE}
      - CUBEJS_WEB_SOCKETS=${CUBEJS_WEB_SOCKETS:-false}
      - CUBEJS_SCHEMA_PATH=model
    volumes:
      - type: bind
        source: ./model
        target: /cube/conf/model
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - reporting-network

networks:
  reporting-network:
    driver: bridge
